CONTACT_TO_EMAIL=customers@asrvtech.in
CONTACT_FROM_EMAIL=customers@asrvtech.in
CONTACT_FROM_NAME=ASRV Tech
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_API_TOKEN=your_cloudflare_api_token_with_email_send_permission
API_PORT=8787
PORT=5173
BASE_PATH=/
